---
layout: null
---
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ site.name }}</title>

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@700&family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="{{ '/css/fontawesome.all.min.css' | relative_url }}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" rel="stylesheet">
  <link href="{{ '/css/bulma.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/index.css' | relative_url }}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script defer src="{{ '/js/fontawesome.all.min.js' | relative_url }}"></script>
  <script src="{{ '/js/index.js' | relative_url }}"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6TQFX46TH0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-6TQFX46TH0');
  </script>
  <style>
  blockquote {
    border-left: 2px solid #333;
    margin: 0px auto;
    margin-bottom: -50px;
    padding-left: 10px;
    font-style: italic;
    /* text-align: center; */
  }
</style>
</head>

<body>
  <!-- NAVBAR -->
  <!-- <nav class="navbar py-0" role="navigation" aria-label="main navigation">
    <div class="container is-max-desktop">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end"> -->
          <!-- <a class="navbar-item is-size-4">
            About
          </a> -->
          <!-- <a class="navbar-item is-size-4" href="#news">
            News
          </a> -->
          <!-- <a class="navbar-item is-size-4 has-text-weight-bold" href="#research">
            Research
          </a>
          <a class="navbar-item is-size-4 has-text-weight-bold" href="#service">
            Service
          </a>
        </div>
      </div>
    </div>
  </nav> -->
  <section class="hero">
    <div class="hero-body container is-max-desktop">
      <div class="columns is-vcentered">

        <div class="column is-4">
          <div class="portrait">
            <img src="{{ '/images/portrait.jpg' | relative_url }}" />
          </div>
          <!-- <center>📍 London, UK</center> -->
        </div>

        <div class="column">
          <h1 class="title">
            <br>
            <b>{{ site.name }}</b>
          </h1>
          <div class="content has-text-justified">
            {{ site.description | markdownify }}

            <!-- previously links were here-->
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
              <a class="external-link button is-light is-link" href="mailto:{{ site.email }}" target="_blank">
                <span class="icon"><i class="fas fa-envelope"></i></span>
                <span>Email</span>
              </a>
              <a class="external-link button is-light is-link"
                href="https://scholar.google.com/citations?user={{ site.google_scholar }}">
                <span class="icon"><i class="ai ai-google-scholar"></i></span>
                <span>Scholar</span>
              </a>
              <a class="external-link button is-light is-link" href="https://github.com/{{ site.github_username }}" target="_blank">
                <span class="icon"><i class="fab fa-github"></i></span>
                <span>Github</span>
              </a>
              <a class="external-link button is-light is-link" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                <span class="icon"><i class="fab fa-twitter"></i></span>
                <span>Twitter</span>
              </a>
              <a class="external-link button is-light is-link"
                href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                <span class="icon"><i class="fab fa-linkedin"></i></span>
                <span>LinkedIn</span>
              </a>
            </div>
            <!-- <br> -->
            <!-- Will we ever answer <a href="https://en.wikipedia.org/wiki/The_Last_Question" target="_blank"> The Last Question</a>? Perhaps not in our lifetime, but it's definitely worth pursuing :) -->
          </div>
        </div>
      </div>
      <div class="buttons">
              <!-- <a class="external-link button is-light is-link" href="cv.html">
                <span class="icon"><i class="fas fa-file"></i></span>
                <span>CV</span>
              </a> -->
              <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="external-link button is-light is-link" href="mailto:{{ site.email }}" target="_blank">
                <span class="icon"><i class="fas fa-envelope"></i></span>
                <span>Email</span>
              </a>
              <a class="external-link button is-light is-link"
                href="https://scholar.google.com/citations?user={{ site.google_scholar }}" target="_blank">
                <span class="icon"><i class="ai ai-google-scholar"></i></span>
                <span>Scholar</span>
              </a>
              <a class="external-link button is-light is-link" href="https://github.com/{{ site.github_username }}" target="_blank">
                <span class="icon"><i class="fab fa-github"></i></span>
                <span>Github</span>
              </a>
              <a class="external-link button is-light is-link" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                <span class="icon"><i class="fab fa-twitter"></i></span>
                <span>Twitter</span>
              </a>
              <a class="external-link button is-light is-link"
                href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                <span class="icon"><i class="fab fa-linkedin"></i></span>
                <span>LinkedIn</span>
              </a>
            </div> -->
      <!-- <blockquote>“Break the cycle, Morty. Rise above. Focus on Science.”</blockquote> -->
    </div>
  </section>

  <!-- Sections. -->
  <section class="section" id="news">
    <div class="container is-max-desktop">

      <!-- News. -->
      <h2 class="title is-3">News</h2>
      <hr style="border: 1px solid #000">
      <div class="content">
        <ul>
          {% for news in site.data.news %}
          <li>
            <b>{{ news.date }}</b>: {{ news.description | markdownify | remove: '<p>' | remove: '</p>' }}
          </li>
          {% endfor %}
        </ul>
      </div>

      <!-- Research. -->
      <section id="research">
        <h2 class="title is-3">Research</h2>
        <hr style="border: 1px solid #000">
        {% for publication in site.data.publications %}
        <div class="publication-block columns">

          <div class="column is-2">
            <div class="publication-image {% if publication.image_mouseover %}publication-mousecell{% endif %}">
              {% if publication.image_mouseover contains "mp4" %}
              <video autoplay preload playsinline class="" height="100%" loop muted width="100%">
                <source src="./images/{{ publication.image_mouseover }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              {% endif %}
              <img alt="{{ publication.title }}" src="./images/{{ publication.image }}" />
            </div>
          </div>

          <div class="column">
            <div class="content">
              <h3 class="publication-title"><a href="{{ publication.project_page }}" target="_blank">{{ publication.title }}</a></h3>
              <div class="publication-authors">
                {% for author_id in publication.authors %}
                {% assign author = site.data.authors[author_id] %}
                <span class="author-block {% if author.is_me %}author-me{% endif %}">
                  {% if author.is_me %}
                  {{ author.first_name }} {{author.middle_name}} {{ author.last_name }}{% if forloop.last == false %},{%
                  endif %}
                  {% else %}
                  {% if author.website %}
                  <a href="{{ author.website }}" target="_blank">{{ author.first_name }} {{ author.middle_name }} {{ author.last_name
                    }}</a>{% if forloop.last == false %},{% endif %}
                  {% else %}
                  {{ author.first_name }} {{ author.middle_name }} {{ author.last_name
                  }},
                  {% endif %}
                  {% endif %}
                </span>
                {% endfor %}
              </div>
              <div class="publication-venue">
                <span>{{ publication.venue }}</span>
                {% for award in publication.awards %}
                  <span class="publication-venue-emph">{{ award }}<span>
                {% endfor %}
              </div>
              <p class="publication-description">{{ publication.description }}</p>
              <!-- Publication Links. -->
              <div class="publication-links buttons field">
                {% if publication.project_page %}
                <a class="external-link button is-small is-light is-link is-rounded"
                  href="{{ publication.project_page }}" target="_blank">
                  <span class="icon"><i class="fas fa-globe-americas"></i></span>
                  <span>Project Page</span>
                </a>
                {% endif %}
                <a class="external-link button is-small is-light is-link is-rounded"
                  href="{{ publication.pdf }}" target="_blank">
                  <span class="icon"><i class="fas fa-file-pdf"></i></span>
                  <span>PDF</span>
                </a>
                {% if publication.arxiv %}
                <a class="external-link button is-small is-light is-link is-rounded"
                  href="https://arxiv.org/abs/{{ publication.arxiv }}" target="_blank">
                  <span class="icon"><i class="ai ai-arxiv"></i></span>
                  <span>arXiv</span>
                </a>
                {% endif %}
                {% if publication.github %}
                <a class="external-link button is-small is-light is-link is-rounded"
                  href="https://github.com/{{ publication.github }}" target="_blank">
                  <span class="icon"><i class="fa fab fa-github"></i></span>
                  <span>Code</span>
                </a>
                {% endif %}
              </div>
              <!--/ Publication Links. -->
            </div>
          </div>
        </div>
        {% endfor %}
        <br />
      </section>

      <!-- Employment. -->
      <section id="employment">
        <h2 class="title is-3">Experience</h2>
        <hr style="border: 1px solid #000">
        {% for job in site.data.employment %}
        <div class="columns">
          <div class="column is-one-fifths">
            <div class="publication-image">
              <img alt="{{ job.title }}" src="./images/{{ job.logo }}" />
            </div>
          </div>
          <div class="column is-four-fifths">
            <div class="columns">
              <div class="column is-four-fifths">
                <!-- <b>{{ job.company }}</b><br /> -->
                <b>{{ job.title }}</b><br />
                {{ job.location }}
              </div>
              <div class="column is-one-fifths has-text-right" style="white-space: nowrap;">
                
                <!-- <br /> -->
                {{ job.dates }}
              </div>
            </div>
              {% for item in job.description %}
                  <li>{{ item }}</li>
              {% endfor %}
          </div>
        </div>        
        {% endfor %}
      </section>
      <br><br>

      <!-- Service. -->
      <section id="service">
        <h2 class="title is-3">Service</h2>
        <hr style="border: 1px solid #000">
        <div class="content">
          <b>Reviewer</b></br>
          <!-- <ul>
            {% for service in site.data.service %}
              {% if service.role == "reviewer" %}
                <li>{{ service.venue }}</li>
              {% endif %}
            {% endfor %}
          </ul> -->
          {% for service in site.data.service %}
            {% if service.role == "reviewer" %}
              {{ service.venue }} </br>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    </div>
  </section>


  <footer class="footer">
    <div class="container">
      <!-- <div class="content footer-links has-text-centered">
        <a href="mailto:{{ site.email }}">
          <i class="fas fa-envelope"></i>
        </a>
        <a class="external-link" href="https://github.com/{{ site.github_username }}">
          <i class="fab fa-github"></i>
        </a>
        <a class="external-link" href="https://scholar.google.com/citations?user={{ site.google_scholar }}">
          <i class="ai ai-google-scholar"></i>
        </a>
      </div> -->
      <div class="columns is-centered has-text-centered">
        <div class="column is-8">
          <div class="content">
            <p>
              "To iterate is human, to <a href="">recurse</a> divine.” <br>
              Template adapted from <a
              href="https://ddecatur.github.io/">here</a> and <a
                href="https://github.com/keunhong/keunhong.github.io">here</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>